@import "node_modules/bootstrap/scss/functions";
@import "node_modules/bootstrap/scss/variables";
@import "node_modules/bootstrap/scss/mixins/_breakpoints";

:root {
  --black: #000000;
  --grey: #959595;
  --light-grey: #f1f1f1;
  --turquoise: #A5DED0;
  --pink: #F3A3A3;
  --white: #FFFFFF;
  --font-family: 'Roboto', sans-serif;
}

html {
  font-size: 24px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1;

  @include media-breakpoint-down(md) {
    font-size: 18px;
  }
}

h1 {
  font-size: 4rem;
  line-height: 1;
  @include media-breakpoint-down(md) {
    font-size: 3rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 2rem;
  }
}

h2 {
  font-size: 2rem;
  @include media-breakpoint-down(md) {
    font-size: 1.75rem;
  }
  @include media-breakpoint-down(sm) {
    font-size: 1.5rem;
  }
  @include media-breakpoint-down(xs) {
    font-size: 1rem;
  }
}

h3 {
  font-size: 1.5rem;
  @include media-breakpoint-down(xs) {
    font-size: 1rem;
  }
}

h4 {
  font-size: 1rem;
  @include media-breakpoint-down(md) {
    font-size: .8rem;
  }
}

h5 {
  font-size: 1rem;
  @include media-breakpoint-down(md) {
    font-size: .75rem;
  }
}

h1, h2, h3, h4, h5 {
  font-weight: 500;
  line-height: 1.1;
  margin: 0;
}

a {
  //color: var(--turquoise);
  color: var(--grey);// for test
  text-decoration: none;
  &:hover  {
    color: var(--turquoise);
  }
}

small {
  font-size: 0.5833333333333334rem;
  font-weight: 300;
}

input {
  font-size: 0.5833333333333334rem;
  color: var(--black);
  font-weight: 500;
  border: none;
  border-bottom: 1px solid var(--pink);
  padding: .25rem 0;
  &:focus, &:active {
    outline: none;
  }

  &[type=date]::-webkit-inner-spin-button {
    -webkit-appearance: none;
    display: none;
  }
}

textarea {
  font-size: 0.5833333333333334rem;
  font-weight: 500;
}

::placeholder, :-ms-input-placeholder {
  color: var(--grey);
  opacity: 1; /* Firefox */
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}

img {
  width: 100%;
}


button {
  background-color: var(--pink);
  border: none;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--font-family);
  border-radius: 25px;
  font-weight: 500;
  height: 2rem;
  font-size: .625rem;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(149,149,149,0.62);
  -moz-box-shadow: 0px 5px 5px 0px rgba(149,149,149,0.62);
  box-shadow: 0px 5px 5px 0px rgba(149,149,149,0.62);

  &:hover {
    background: #f5b8b8;
    a {
      color: var(--white);
      text-decoration: none;
    }
  }

  &.normal {
    width: 8.333333333333334rem;
  }


  &.delete-button {
    width: 8.333333333333334rem;
    background: var(--white);
    color: black;
    text-transform: none;
    text-decoration: underline;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
  }

  &.wide {
    width: 12.708333333333334rem;
  }

  a {
    color: var(--white);
  }

  span {
    display: block;
    line-height: 2rem;
  }

  &.exit {
    background-color: transparent;
    box-shadow: none;
  }

  &:active, &:focus {
    outline: none;
  }

  @include media-breakpoint-down(sm) {
    width: 7rem;
    height: 1.5rem;
    span {
      line-height: 1.5rem;
    }
  }

  @include media-breakpoint-down(xs) {
    &.normal {
      width: 6rem;
    }
    &.wide {
      width: 8.708333rem;
    }
  }
}


/* HEADER > */
header {
  background-color:transparent;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;

  nav {
    height: 4rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    .logo {
      max-width: 9.541666666666666rem;
    }

    li {
      display: inline-block;
      white-space: nowrap;
      position: relative;
      font-size: 0.875rem;
      font-weight: 500;
      margin-left: 2rem;

      a, span {
        text-transform: uppercase;
        color: var(--white);
        &:hover {
          color: var(--white);
          border-bottom: 1px solid var(--white);
          cursor: pointer;
        }
      }
    }
  }

  @include media-breakpoint-down(md) {
    nav {
      li {
        font-size: .75rem;
        margin-left: 1.16667rem;
      }
    }
  }

  @include media-breakpoint-down(sm) {
    nav {
      .logo {
        max-width: 7.5rem;
      }
    }
  }

  @include media-breakpoint-down(xs) {
    nav {
      .logo {
        max-width: 5rem;
      }
      li {
        margin-left: .625rem;
        span {
          font-size: .7rem;
        }
      }
    }
  }
}

/* < HEADER */


/* HOMEPAGE > */
.homepage-banner {
  background-image: url('/images/background_web.png');
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  height: calc(100vh);
  position: relative;
  margin: 0;
  color: var(--white);
  position: relative;

  .homepage-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);

    .title {
      margin-bottom: 3.5rem;
    }

    button {
      font-size: 0.75rem;
      margin-bottom: 1rem;
    }

    p:hover {
      text-decoration: underline;
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(sm) {
    .title {
      margin-bottom: 2rem;
    }
  }

  @include media-breakpoint-down(xs) {
    button {
      font-size: .7rem;
    }
  }
}


/* < HOMEPAGE */

/* MAINHEADER > */
.main-header {
  background-color: var(--white);
  position: relative;
  nav {
    li {
      margin-left: 1rem;
      a, span {
        color: var(--grey);
        font-size: 0.75rem;
        line-height: 0.8333333333333334rem;
        text-transform: none;
        position: relative;
        padding-left: 1.25rem;
        &:hover {
          color: var(--grey);
          border-bottom: none;
          text-decoration: none;
        }
        i {
          position: absolute;
          left: 0;
          top: 50%;
          transform: translateY(-50%);
        }
      }
    }
    #mainnav-toggle {
      display: none;
    }
  }
  @include media-breakpoint-down(md) {
    ul {
      position: absolute;
      display: none;
      left: 0;
      right: 0;
      top: 4rem;
      background: var(--white);
      -webkit-box-shadow: 10px 10px 5px 0px rgba(232,232,232,0.64);
      -moz-box-shadow: 10px 10px 5px 0px rgba(232,232,232,0.64);
      box-shadow: 10px 10px 5px 0px rgba(232,232,232,0.64);
      li {
        display: block;
        padding: 1rem 0;
        margin: 0 1rem;
        border-top: 1px solid var(--light-grey);
      }
    }
    #mainnav-toggle {
      display: block;
      position: relative;
      cursor: pointer;
      width: 56px;
      height: 118px;
      .hamburger {
        display: block;
        width: 20px;
        height: 3px;
        position: absolute;
        left: 50%;
        top: 50%;
        margin: -1px 0 0 -10px;
        background: var(--grey);
        &:before, &:after {
          display: block;
          content: "";
          width: 100%;
          height: 100%;
          position: absolute;
          background: var(--grey);
        }
        &:before {
          top: -6px;
        }
        &:after {
          bottom: -6px;
        }
      }
    }
    .active {
      ul {
        display: block;
      }
      #mainnav-toggle {
        .hamburger {
          background: transparent;
          &:before {
            transform: translateY(6px) rotate(135deg)
          }
          &:after {
            transform: translateY(-6px) rotate(-135deg);
          }
        }
      }
    }
  }
  @include media-breakpoint-down(sm) {
    ul {
      li {
        margin: 0 .75rem;
      }
    }
  }
  @include media-breakpoint-down(xs) {
    ul {
      li {
        a {
          font-size: .7rem;
        }
      }
    }
  }
}

/* < MAINHEADER */

/* MAINPAGE > */
.mainpage-banner {
  position: relative;
  margin: 0;
  padding-top: 3.66666rem;
  background-color: var(--light-grey);
  min-height: calc(100vh - 3rem);
  @include media-breakpoint-down(sm) {
    padding-top: 2rem;
  }
  &.customer {
    img {
      width: 300px;
      display: block;
    }
    @include media-breakpoint-down(sm) {
      text-align: center;
      h1 {
        margin-bottom: .5rem;
      }
      img {
        display: inline-block;
      }
    }
  }
}
/* < MAINPAGE */

/* MODALS > */

.modal-dialog {
  //max-width: 25rem;
}

.modal-body {
  padding: 1rem;
}

.modal-content {
  border: none;
  border-radius: 0.8333333333333334rem;
  .modal-wrapper  {
    padding: 3rem 1.5rem;
    text-align: center;

    &.restaurant-modal .input-field>div {
      width: 100%;
    }

    .title {
      margin-bottom: 2rem;
    }

    textarea {
      border: 1px solid var(--pink);
      width: 100%;
      min-height: 3rem;
    }

    button {
      margin: 1.5rem 0 0;
    }

    label {
      margin-bottom: 0.25rem;
      display: block;
      color: var(--pink);
      font-size: 0.5833333333333334rem;
      text-align: left;
      font-weight: 500;
    }

    .account-type {
      margin: .25rem 0 2rem;
      .role {
        color: var(--turquoise);
      }
    }

    .link-wrapper span {
      color: var(--turquoise);
      &:hover {
        text-decoration: underline;
        cursor: pointer;
      }
    }

    .input-field {
      margin: 1rem 0 0.5rem;
      &.old-password {
        margin-bottom: 2rem;
      }

      i {
        margin-right: 1rem;
        width: 22px;
      }

      > div {
        width: 80%;
        display: inline-block;
        input {
          width: 100%;
        }
      }

      &.name {
        > div {
          width: calc(40% - .25rem);
          &:first-of-type {
            margin-right: .5rem;
          }
        }
      }
    }

    .error-block {
      color: #e7040f;
      small {
        display: block;
        margin-bottom: .25rem;
        font-weight: bold;
      }
    }

    .inputfile {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
    }

    .inputfile + label {
      border: 1px solid var(--pink);
      width: fit-content;
      border-radius: 50px;
      padding: 5px 25px;
      text-transform: uppercase;
      font-weight: 500;
      cursor: pointer;
      display: inline-block;
    }

    .selected-file {
      color: var(--grey);
      font-weight: 300;
      text-align: center;
      span {
        margin-right: .5rem;
      }
    }

    .image {
      img {
        width: 200px;
        object-fit: cover;
        border-radius: 100%;
        object-position: center center;
        height: 200px;
      }
    }

    .opening-hours {

      .hours-selector {
        position: relative;
        padding-bottom: 38px;
        margin-bottom: 0.5rem;
        .days {
          width: 40%;
          position: absolute;
          top: 0;
          left: 0;
          border-bottom: 1px solid var(--pink);
          &:focus, &:active {
            outline: none;
          }
        }

        .hours {
          width: calc(30% - 5px);
          position: absolute;
          top: 0;
          left: calc(40% + 5px);
          &.end {
            right: 0;
            left: auto;
          }
        }

        .css-1wa3eu0-placeholder {
          font-size: 15px;
          line-height: 18px;
        }

        .css-1okebmr-indicatorSeparator {
          display: none;
        }

        .css-1uccc91-singleValue {
          font-size: 15px;
          font-weight: 500;
        }

        .css-144g6cj-Menu {
          border-left: 1px solid var(--pink);
          border-right: 1px solid var(--pink);
        }

        .css-yk16xz-control {
          border: none;
        }

        .css-1pahdxg-control {
          &, &:active, &:focus {
            border: none;
            outline: none;
            box-shadow: none;
          }
        }

      }

      .add-button {
        text-align: right;
        width: 92%;
        span {
          padding: 0px 20px;
          margin: 0;
          height: 20px;
          background-color: var(--pink);
          color: var(--white);
          text-transform: uppercase;
          font-family: var(--font-family);
          border-radius: 25px;
          font-weight: 500;
          font-size: .625rem;
          box-shadow: 0px 5px 5px 0px rgba(149, 149, 149, 0.62);
          &:hover {
            cursor: pointer;
          }
        }
        &.disabled span {
          background-color: var(--grey);
          &:hover {
            cursor: not-allowed;
          }
        }
      }

      .selected-hours {
        > * {
          text-align: left;
          font-size: 15px;
          font-weight: 500;
          line-height: 1.2;
          padding: .25rem 0;
          border-bottom: 1px solid var(--light-grey);
          &:first-child {
            border-top: 1px solid var(--light-grey);
            margin-top: 1rem;
          }
        }

        .remove-button {
          float: right;
          font-weight: 500;
          color: var(--grey);
          &:hover {
            cursor: pointer;
          }
        }
      }
    }

    .days, .hours {
      border-bottom: 1px solid var(--pink);
    }

    &.choose-role {
      button {
        margin: 0 0 2rem;
      }
      label {
        margin-top: 1rem;
      }
    }

    &.logout {
      label {
        text-align: center;
        color: var(--grey);
      }
    }

    &.add-menu {
      .input-field {
        > div {
          width: 100%;
        }
      }

      .working-hours {
        display: flex;
        > div {
          input[type="time"] {
            margin-left: 0.5rem;
            width: 80%;
          }
          input {
            height: 22px;
          }
        }
      }

      button {
        margin: 1.5rem 0 0;
      }
    }
  }

  .exit {
    float: right;
    &:focus {
      outline: none;
    }
    @include media-breakpoint-down(sm) {
      width: auto;
    }
  }

  .back {
    float: left;
    line-height: 2rem;
    &:hover {
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(xs) {
    .modal-wrapper {
      padding: 2rem 1rem;
      .title {
        margin-bottom: 2rem;
      }
      .input-field {
        i {
          margin-right: .1rem;
        }
        &.name {
          > div {
            width: 80%;
            margin-right: 0;
            &:first-of-type {
              margin-right: 0;
            }
            &:last-child {
              margin-top: 1rem;
              margin-left: calc(22px + 0.1rem);
            }
          }
        }
      }
      button {
        margin: 0;
      }

      .account-type {
        margin: .25rem 0 2rem;
        .role {
          display: block;
        }
      }

      &.restaurant-info {
        padding: 1rem;
        .opening-hours {
          .hours-selector {
            margin-bottom: 2.5rem;
            .days {
              width: 100%;
            }
            .hours {
              top: 50px;
              width: calc(50% - 5px);
              left: 0;
            }
          }
          .selected-hours {
            margin-left: 0;
          }
        }
      }
    }
  }

}

/* < MODALS */



/* SIDEBAR > */
.sidebar-hover {
  .sidebar {
    margin-top: 3.66666rem;
    padding: 6rem 2.5rem 2.5rem;
    background-color: var(--white);
    font-size: 0.625rem;
    position: relative;
    border-radius: 0.8333333333333334rem;

    .image-setup {
      position: absolute;
      top: -5.333333333rem;
      left: 2.5rem;
      right: 2.5rem;
      height: 100%;
    }

    .image-wrapper {
      height: 0;
      padding-bottom: 100%;
      position: relative;

      .image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 100%;
      }
    }

    .title {
      margin-bottom: 1.5rem;
      text-align: center;
    }

    .part {
      position: relative;
      margin-bottom: 0.5rem;

      > i {
        position: absolute;
        left: 0;
        top: 0;
      }
    }

    ul {
      display: inline-block;
      list-style-type: none;
      padding-left: 1.5rem;
      margin: 0;

      li {
        margin-bottom: 0.5rem;

        span {
          font-weight: 500;
        }
      }
    }

    .modal-button {
      color: var(--pink);
      text-align: center;

      &:hover {
        cursor: pointer;
      }

      span {
        position: relative;
        padding-left: 1.25rem;
      }

      i {
        position: absolute;
        left: 0;
        top: 50%;
        transform: translateY(-50%);
      }
    }

  }

  @include media-breakpoint-down(md) {
    margin-top: 0.66666rem;
    margin-bottom: 2rem;
    padding: 3rem 1rem 1rem;
    .image-setup {
      position: absolute;
      top: -3.333333rem;
      left: 6.5rem;
      right: 6.5rem;
    }
    .part {
      margin-bottom: 1rem;
    }
    ul {
      padding-left: 1.25rem;
      li {
        span {
          display: block;
        }
      }
    }
  }
  .sidebar-bottom {
    margin-top: 1rem;
    padding-right: 1rem;
    padding-left: 1rem;
    position: relative;
  }
}
/* < SIDEBAR*/


/* RESTAURANT PAGE > */
.restaurant {
  .title {
    margin-bottom: 1.25rem;
  }
}

.no-menus {
  background: var(--white);
  border-radius: 0.8333333333333334rem;
  padding: 1.75rem;
  text-align: center;
  margin-bottom: 1.25rem;
  h4 {
    margin-bottom: 1rem;
  }
  label {
    font-weight: 500;
    margin-bottom: 1.25rem;
  }
  @include media-breakpoint-down(xs) {
    padding: 0.75rem;
  }
}

.menu {
  background: var(--white);
  border-radius: 0.8333333333333334rem;
  margin-bottom: 1.25rem;
  padding: 1.25rem 1rem;
  text-align: center;
  font-size: 0.75rem;

  .categoryTitle {
    font-weight: 500;
    display: flex;
    flex-direction: row;
    align-items: center;
  }
  .col {
    align-items: center;
  }

  > * {
    margin-bottom: 1.25rem;
  }

  .tags {
    text-align: center;
    .tag {
      display: inline-block;
      background: var(--turquoise);
      color: var(--white);
      padding: 0.1rem 1rem;
      border-radius: 5px;
      font-weight: bold;
      margin: 0 0.5rem 0.25rem;
    }
    @include media-breakpoint-down(sm) {
      .tag {
        margin-bottom: .25rem;
      }
    }
  }
  .modal-button {
    color: var(--pink);
    text-align: center;
    span {
      position: relative;
      padding-left: 1.25rem;
    }
    i {
      position: absolute;
      left: 0;
      top: 50%;
      transform: translateY(-50%);
    }
    &:hover {
      cursor: pointer;
    }
  }

  @include media-breakpoint-down(sm) {
    font-size: .7rem;
    .foodItem {
      .image-setup {
        margin: .25rem .25rem .25rem .5rem;
      }
    }
  }
}



/* < RESTAURANT PAGE */

/* FOOD ITEMS > */
.foodItem {
  flex-direction: row;
  background: var(--light-grey);
  border-radius: 0.8333333333333334rem;
  display: flex;
  position: relative;
  //padding: 0.5rem;
  .image-setup {
    margin: 0.5rem;
    margin-left: 1rem;
    width: 25%;
  }
  .image-wrapper {
    height: 0;
    width: 100%;
    padding-bottom: 100%;
    position: relative;


    .image {
      position: absolute;
      left: 0;
      right: 0;
      top: 0;
      bottom: 0;
      background-repeat: no-repeat;
      position: absolute;
      background-position: center center;
      background-size: cover;
      border-radius: 100%;
    }

    @include media-breakpoint-down(xs) {
      .image-setup {
        width: 50%;
      }
      .price {
        margin-right: 0;
      }
    }
  }


  .mainContent {
    flex-direction: column;
    text-align: left;
    display: flex;
    margin: 0.5rem;
    width: 75%;
    .foodItemName {
      margin-bottom: 0.5rem;
    }
    .description {
      margin-bottom: 0.5rem;
    }
  }
  .price {
    flex-direction: row;
    margin-left: auto;
    margin-right: 0.75rem;
    margin-top: 1rem;
    font-weight: 500;
    width: 5%;
  }
  .edit-button {
    position: absolute;
    top: -0.25rem;
    right: -0.25rem;
    &:hover {
      cursor: pointer;
    }
  }

}
/* < FOOD ITEMS */

/* PROFILE */

.profile {
  padding-bottom: 3rem;
  .title {
    margin-bottom: 2rem;
  }

  .profile-part {
    padding: 5rem 7rem;
    text-align: center;
    background-color: var(--white);

    form {
      text-align: center;
    }

    .input-field {
      margin: 1rem 0 .5rem;
      i {
        margin-right: 1rem;
        width: 22px;
      }

      > div {
        width: 80%;
        display: inline-block;

        input {
          width: 100%;
        }
      }

      &.name {
        > div {
          width: calc(40% - .25rem);

          &:first-of-type {
            margin-right: .5rem;
          }
        }
      }
    }

    span {
      display: block;
      font-size: 14px;
      font-weight: 500;
      text-decoration: underline;
      color: var(--black);
      margin-top: 2rem;
      &:hover {
        cursor: pointer;
      }
    }

    button {
      margin: 3rem 0 0rem;
    }

    .delete-button {
      color: #e7040f;
    }
  }
}

/* / PROFILE */

/* REVIEW ITEMS > */
.reviewItem {
  background: var(--light-grey);
  margin: 1rem 0 1rem 0;
  flex-direction: row;
  border-radius: 0.8333333333333334rem;
  display: flex;
  height: 150px;

  .receipt-photo {
    background: lightgrey;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    margin: 10px;
    .image-wrapper {
      height: 0;
      padding-bottom: 100%;
      position: relative;

      .image {
        position: absolute;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
        background-size: cover;
        background-position: center center;
        background-repeat: no-repeat;
        border-radius: 100%;
      }
    }

  }
  .mainContent {
    margin-left: 10px;
    text-align: left;
    flex-direction: column;
    font-size: 0.625rem;

    .menuName {
      margin: 0.5rem 0 0.5rem 0;
    }

    .review-validation {
      flex-direction: row;
      align-items: center;

      .review-button {
        height: 0.85rem;
        margin: 1.5rem 0.10rem 0 0.10rem;
        width: 4rem;
        font-size: 0.6rem;
        padding: 0.1rem;
        -webkit-box-shadow: none;
        -moz-box-shadow: none;
        box-shadow: none;

        &.decline {
          background-color: var(--grey);
        }
      }
    }
  }
}

/* < REVIEW ITEMS */


/* TAGS */
.tags {
  > input {
    width: 100%;
  }
  ul {
    list-style-type: none;
    li {
      text-align: left;
      font-size: 15px;
      font-weight: 500;
      line-height: 1.2;
      padding: .25rem 0;
      border-bottom: 1px solid var(--light-grey);
      position: relative;
      &:hover {
        cursor: pointer;
      }
      .remove-button {
        position: absolute;
        right: 0;
        top: 50%;
        font-size: 15px;
        transform: translateY(-50%);
        font-weight: 500;
        color: var(--grey);
        &:hover {
          cursor: pointer;
        }
      }
    }
  }
}

/* CONSULTANT PAGE */

.consultant {
  .title {
    margin-bottom: 2rem;
  }
  .stat {
    font-weight: 500;
  }
}
