:root {
  --black: #000000;
  --grey: #959595;
  --turquoise: #A5DED0;
  --pink: #F3A3A3;
  --white: #FFFFFF;
  --font-family: 'Roboto', sans-serif;
}

html {
  font-size: 24px;
}

body {
  margin: 0;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1.1;
}

h1 {
  font-size: 4rem;
  margin: 0;
  font-weight: 500;
}

h2 {
  font-size: 2rem;
  margin: 0;
  font-weight: 500;
}

h3 {
  font-size: 1.5rem;
  font-weight: 500;
}

h4 {
  font-size: 1rem;
  font-weight: 500;
}

a {
  color: var(--turquoise);
  text-decoration: none;
}

small {
  font-size: 0.5833333333333334rem;
  font-weight: 300;
}

input {
  font-size: 0.5833333333333334rem;
  color: var(--black);
  font-weight: 500;
  border: none;
  border-bottom: 1px solid var(--pink);
}

::placeholder, :-ms-input-placeholder {
  color: var(--grey);
  opacity: 1; /* Firefox */
}

ul {
  margin-bottom: 0;
  padding-left: 0;
}


button {
  background-color: var(--pink);
  border: none;
  color: var(--white);
  text-transform: uppercase;
  font-family: var(--font-family);
  border-radius: 25px;
  font-weight: 500;
  height: 2rem;
  font-size: 0.75rem;
  -webkit-box-shadow: 0px 5px 5px 0px rgba(149,149,149,0.62);
  -moz-box-shadow: 0px 5px 5px 0px rgba(149,149,149,0.62);
  box-shadow: 0px 5px 5px 0px rgba(149,149,149,0.62);
}

button.normal {
    width: 8.333333333333334rem;
}

button.wide {
  width: 12.708333333333334rem;
}


/* HEADER > */
header {
  background-color: var(--white);
}

header nav {
  height: 6rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav ul li {
  display: inline-block;
  white-space: nowrap;
  position: relative;
  font-size: 0.875rem;
  font-weight: 500;
}

header nav ul li a {
  padding: 10px 15px;;
  text-transform: uppercase;
}

/* < HEADER */

/* HOMEPAGE > */
.homepage-banner {
    /*background-image: url('/background.png');*/
    background-color: var(--turquoise);
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: calc(100vh - 6rem);
    position: relative;
    margin: 0;
    color: var(--white);
    position: relative;
}

.homepage-text {
    position: absolute;
    left: 0;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
}

.homepage-text .title {
    margin-bottom: 3.5rem;
}



/* < HOMEPAGE */



.user-handle {
  background-color: var(--white);
  display: inline-block;
}